.container{
    margin: 0;
    max-width: 300px;
    width: min(90%, 300px);
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

h1 {
    color: rgba(60, 70, 123, 1);
}

input {
    height: 40px;
    width: 80%;
    margin: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 1px 12px 33px 1px rgba(66, 68, 90, 1);
    margin-top: 30px;
    transition: 0.15s ease;
}

input:active{
    translate: 0 0.225em;
}

input:focus {
    border: 2px solid rgba(110, 140, 251, 1);
    outline: none;
}

button{
    margin-top: 30px;
    border: 0;
    color: white;
    background-color: rgba(60, 70, 123, 1);
    border-radius: 0.5em;
    font-size: 1.35rem;
    padding: 0.375em 1em;
    font-weight: 600;
    transition: 0.15s ease;
    cursor: pointer;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
button:hover {
  translate: 0 0.225em;
}

button:active{
    translate: 0 0.400em;
}

p{
    margin-top: 30px;
}

span {
    color: rgba(60, 70, 123, 1);
    text-decoration: underline;
    cursor: pointer;
}