*{
    font-family: roboto;
}

html, body, #root {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}